<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Biblioteca</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}?{% now 'U' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="{% url 'perfil' %}">
                <img src="{% static 'images/icons/hombre.png' %}" alt="Perfil">
            </a>
            <a href="{% url 'historial' %}">
                <img src="{% static 'images/icons/carrito-de-compras.png' %}" alt="Historial de Préstamos">
            </a>
            <a href="#" id="logout-icon">
                <img src="{% static 'images/icons/cerrar-sesion.png' %}" alt="Cerrar sesión">
            </a>
        </div>
        <div class="header-center">
            <h1>Inicio</h1>
        </div>
    </header>
    <main>
        <section class="side-section">
            <!-- Contenido de los botones -->
            {% for carrera in carreras %}
                <button onclick="location.href='{% url 'books_by_carrera' carrera.id %}'">{{ carrera.descripcion }}</button>
            {% endfor %}
        </section>
        <section class="main-section">
            <div class="welcome-message">
                <p style="white-space: pre-wrap;">
                    No hay entretenimiento tan 
                    barato como la lectura, ni 
                    placer tan duradero.
                    - Mary Montagu
                </p>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-section">
            <a href="{% url 'login' %}">
                <img src="{% static 'images/icons/facebook.png' %}" alt="Facebook">
            </a>
            <a href="{% url 'login' %}">
                <img src="{% static 'images/icons/whatsapp.png' %}" alt="Whatsapp">
            </a>
            <a href="{% url 'login' %}">
                <img src="{% static 'images/icons/instagram.png' %}" alt="Instagram">
            </a>
        </div>
        <div class="footer-section logo-center">
            <a href="{% url 'login' %}">
                <img src="{% static 'images/icons/libros.png' %}" alt="Logo">
            </a>
        </div>
        <div class="footer-section"></div>
    </footer>
    <script>
        document.getElementById('logout-icon').addEventListener('click', function(event) {
            event.preventDefault();
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¡Estás a punto de cerrar sesión!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, cerrar sesión',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'logout' %}";
                }
            });
        });
    </script>
</body>
</html>
