/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f0cb; /* Color de fondo de la página */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B7C68B; /* Color del encabezado */
    color: #000;
    padding: 1rem;
    position: relative; /* Para permitir centrar el texto correctamente */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 30px;
    margin-right: 10px;
}

.header-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.header-center h1 {
    margin: 0;
}

main {
    display: flex;
    height: calc(100vh - 200px); /* Ajusta esto según la altura del encabezado y pie de página */
}

.side-section {
    width: 15%; /* Ancho ajustado al 15% de la pantalla */
    background-color: #f4f0cb;
    border-right: 1px solid #000;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-section button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f0cb;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.side-section button:hover {
    background-color: #f4f0cb;
}

.main-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f0cb;
}

.centered-text {
    text-align: center;
}

footer {
    background-color: #B7C68B; /* Color del pie de página */
    color: #000;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-section {
    display: flex;
    align-items: center;
}

.footer-section h2 {
    margin-right: 10px;
}

.footer-section img {
    height: 30px;
    margin-right: 5px;
}
