/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f0cb; /* Color de fondo de la página */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #B7C68B; /* Color del encabezado y pie de página */
    color: #000;
    padding: 1rem;
}

.header-left, .header-center {
    display: flex;
    align-items: center;
}

.header-left img {
    height: 30px;
    margin-right: 10px;
}

.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.header-center h1 {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
}

.side-section {
    width: 15%; /* Ancho ajustado al 15% de la pantalla */
    background-color: #f4f0cb;
    border-right: 1px solid #000;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.side-section button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f4f0cb;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.side-section button:hover {
    background-color: #eaeaea;
}

.main-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f0cb;
}

.centered-text {
    text-align: center;
}

.footer-section {
    display: flex;
    align-items: center;
}

.footer-section h2 {
    margin-right: 10px;
}

.footer-section img {
    height: 30px;
    margin-right: 5px;
}
